.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  background-color: var(--px-theme);
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(43, 43, 43, 0.116);
  transition: color 0.3s;

  &:hover {
    background-color: var(--px-theme-2);
    color: var(--px-white);
  }
}

.filter-button--active {
  background-color: var(--px-dark);
  color: #f1f1f1;
}
