/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --px-theme: #e6e6fa;
  --px-theme-2: #d4c1ff;
  --px-theme-2-opacity: #d4c1ff2d;
  --px-white: #faf8ff;
  --px-white-rgb: 250, 248, 255;
  --px-text: #836fa9;
  --px-heading: #5e4b8a;
  --px-bg: #f7f3ff;
  --px-dark: #4b3578;
}

body {
  background-color: var(--px-bg);
  color: var(--px-text);
}
